[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = {extras = ["google", "postgres"], version = "==2.8.4"}
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
